{% extends 'TeamGame/teamGame.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ jsPath }}/FreeGame.js" xmlns="http://www.w3.org/1999/html"></script>
    <script type="text/javascript" src="{{ jsPath }}/GameManipulator.js"></script>
    <script type="text/javascript" src="{{ jsPath }}/Timer.js"></script>
    <script type="text/javascript">
        var game = {{ jsonGame|raw }};
        game.setTeamScore = eval("game.setTeamScore = " + game.setTeamScore);
    </script>
{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ cssPath }}/freeGame.css" type="text/css" />
        <link rel="stylesheet" href="{{ cssPath }}/game.css" type="text/css" />
        <link rel="stylesheet" href="{{ cssPath }}/elements/counter.css" type="text/css" />
    {% endblock%}
{% block teamGame %}

    <!-- Modal -->
    <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="resultModalLabel">Konec kola!</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Získává <strong class="name">NAME</strong> z týmu <strong class="team">TEAM</strong> odměnu za tuto kartu?</p>
                    <p class="card-container text-center"></p>
                    <div class="row">
                        <div class="col-xs-6 ">
                            <button id="modal-no" type="button" class="btn btn-lg btn-block btn-danger"><i class="fa fa-thumbs-down no"></i> Ne</button>
                        </div>
                        <div class="col-xs-6 ">
                            <button id="modal-yes" type="button" class="btn btn-lg btn-block btn-success"><i class="fa fa-thumbs-up yes"></i> Ano</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal">Nepřejeme si kolo počítat</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="teamGame">
        <div class="text-center">
        {% for team in game.teams %}
            {{  include('Elements/counter.html.twig', {'name':team.name, 'players':team.players,  'color': colorPalette.random}) }}
        {% endfor %}
        </div>
        <div>
            {{ include('Elements/game.html.twig', {'game': game}) }}
        </div>
        <div class="text-center bellow-decks">
            <a href="#" class="btn btn-danger btn-lg" id="endturn">Konec kola</a>
            <p style="margin-top: 15px"><a href="#" id="show-comment-form" style="color:#888; "><i class="fa fa-comment fa-5x"></i><br />Zpětná vazba</a></p>
            <div class="panel panel-default text-left collapse comment-form">
                <div class="panel-heading"><i class="fa fa-comment"></i> Zpětná vazba</div>
                <div class="panel-body">
                    <div>
                        <label for="comment-card">Okomentuj kartu</label>
                        <input id="comment-card" type="text" placeholder="Komentář karty" class="form-control" />
                        <span class=help-block">Např: „nevyvážená obtížnost“, „nevhodná kategorie“, „chyba ve slově“ apod.</span>
                        <p class="alert alert-success">Děkujeme za příspěvěk.</p>
                        <hr />
                        <input type="button" class="btn btn-warning" id="comment-send" value="Komentovat"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">

        var $game = $('.game').game({counters: $('.counter')});

        Timer.prototype.finish = function() {
            setTimeout(prepareModal, 1000);
        }

        Timer.prototype.stop = prepareModal;

        $('#modal-yes').click(function(){handleModal(1)});
        $('#modal-no').click(function(){handleModal(0)});

        //comment send
        $('#comment-send').click(function(){
            var comment = $('#comment-card').val();
            var card = $game.game('call', 'card')[0];

            //do nothing if field is empty
            if (!comment || !card) return;

            $.post("{{ path('cards_report') }}",
                {
                    word: card.word,
                    value: card.value,
                    method: card.method,
                    comment: comment
                });

            $container = $(this).parent();
            $container.children().hide();
            $('.alert', $container).show();
            $('#comment-card').val(null);

        });

        $('#endturn').click(prepareModal);

        $('#show-comment-form').click(function(event) {
            event.preventDefault();
            var $form = $('.comment-form');
            $('#comment-send').parent().children().show();
            $('.alert', $form).hide();
            $form.toggle();
        });

        function prepareModal() {
            var $card;
            if (($card = $game.game('call', 'card')[0]) === null) return;
            var $m = $("#resultModal");
            var playing = $game.game('call', 'play')[0];
            var team = $game.game('call', 'team')[0];
            $('.name', $m).text(team.players[playing.pIdx]);
            $('.team', $m).text(team.name);
            $m.modal("show");
            $game.game('call', 'pause');
            $card.card('showName').css('margin', 'auto');
            $('.card-container', $m).empty().append(
                    $card.clone()
            );
        }

        function handleModal(result) {
            //add commentary
            var $card = $('.pile.discard .card', $game.$element).last();
            var team = $game.game('call', 'team')[0];
            $card.card('addNote','<i class="fa '+(result?'fa-thumbs-up yes':'fa-thumbs-down no')+'"></i> '+team.name);
            //next round
            $game.game('call', 'roundEval', result);
            $('#resultModal').modal('hide');
            $game.game('call', 'nextRound');
        }
    </script>

{% endblock %}



