  {% extends 'FreeGame/freeGame.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ cssPath }}/form.css" type="text/css" />
<link rel="stylesheet" href="{{ cssPath }}/elements/counter.css" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ jsPath }}/GameManipulator.js"></script>
    <script type="text/javascript">
       $(document).ready(function(){
            var cats = $('input[name="teamGameOptions[categories][]"]');
            var checkAllCats = function () {
                cats.prop('checked', true);
                cats.parent().parent().parent().parent().hide();
                cats.parent().parent().parent().parent().siblings('hr').hide();
            };            
            checkAllCats();
            var all = $('#teamGameOptions_allCat_0');
            all.change(checkAllCats);
            var choose = $('#teamGameOptions_allCat_1');
            choose.change(function(){
                cats.prop('checked', false);
                cats.parent().parent().parent().parent().show();
                cats.parent().parent().parent().parent().siblings('hr').show();
            });

            var ok = false;
            $('form[name="teamGameOptions"]').submit(function(event){
               var form =$("form[name='teamGameOptions']");

               if (!ok ) {
                   event.preventDefault();
               } else {
                   return true;
               }
               $(".alert", form).remove();
               $.ajax({
                   type: 'post',
                   url:  '',
                   data: $(this).serialize()
               }).done(function(data, status){
                   if (!(data instanceof Array)) {ok = true; form.submit(); return; }
                   for (var i = 0; i < data.length; i++) {
                       data[i] = "<li>"+data[i]+"</li>";
                   }
                   form.prepend('<div class="alert alert-danger"><ul class="error">'+data.join('')+'</ul></div>');
               });

            });
        });

       $(document).ready(function(){
           var $addTeamButtonWidget = $($.parseHTML('<a href="#" class="btn btn-default"><span class="fa fa-plus-circle"></span> Přidej tým</a>'));
           //adding new teams
           var $collection = $('#teamGameOptions_teams');
           var $addTeamLink = $addTeamButtonWidget;
           var teamDataProto = $('.teams').data('prototype-team');
           var memberDataProto = $('.teams').data('prototype-player');
           var $addMemberLink_proto = $('<a href="#" class="addMember btn btn-sm btn-block btn-primary">Přidej mloka</a>');
           var $addMemberLink = $(".addMember");

           $('.fa-random').parent().after($addTeamButtonWidget);

           //insert links for adding members for existing teams, count teams
           var teamsCount = 0;
           $('div', $collection).filter(function(){return this.id.match(/^teamGameOptions_teams_\d+$/)}).each(function(){
               $(this).parent().append($addMemberLink_proto.clone());
               teamsCount++;
           });
           console.log(teamsCount);
           $collection.data('index', teamsCount);

           //insert initial team if none
           if (teamsCount === 0) {
               addTeam();
           }

           $collection.on('click', 'a.addMember', function(e){
               e.preventDefault();
               var teamIndex = $(this).prev().prev().attr('id').match(/_teams_(\d+)/)[1];
               addMember(teamIndex);
           });

           $collection.on('mouseover', '.panel-heading,.panel-body > div', function(){
               $('.delete', this).show();
           });
           $collection.on('mouseout', '.panel-heading,.panel-body > div', function(){
               $('.delete', this).hide();
           });
           $collection.on('click', '.delete', function() {
               if ($(this).parent().hasClass('panel-heading')) {
                   $(this).parent().parent().parent().remove();
               } else {
                   $(this).parent().parent().remove();
               }
           });

           function addTeam () {
               var index = $collection.data('index');
               var newProto = $.parseHTML(teamDataProto.replace(/__team_prot__/g, index));
               var containerCol = document.createElement("div");
               var container = document.createElement("div");
               $("input", $(newProto)).addClass("form-control");
               $("input", $(newProto)).attr("placeholder", "Název Týmu");
               $(newProto).addClass("panel-heading");
               $(newProto).prepend('<i class="fa fa-times-circle delete"></i>');
               $(container).append(newProto);
               containerCol.className = "col-xs-6 col-md-4 col-lg-3";
               container.className = "panel panel-default";
               $(container).append('<div class="panel-body"></div>')
                           .append($addMemberLink_proto.clone());
               $(containerCol).append(container);
               $collection.append($(containerCol));
               $collection.data('index', index+1);
               addMember(index);
           }

           function addMember(teamIndex) {
               $teamDiv = $('#teamGameOptions_teams_'+teamIndex);
               if ($teamDiv.length === 0) {
                   console.log('No such team found: '+teamIndex);
                   return;
               }
               $playerContainer = $teamDiv.next();
               var memberIndex = $playerContainer.find('input').length;
               console.log(memberIndex);
               var $newProto = $($.parseHTML(memberDataProto.replace(/__player_prot__/g, memberIndex).replace(/__team_prot__/g, teamIndex)));
               var container = document.createElement("div");
               $newProto.append('<i class="fa fa-times-circle delete"></i>');
               $(container).append($newProto);
               $("input", $newProto).addClass("form-control input-sm");
               $("input", $newProto).attr("placeholder", "Jméno Hráče");
               $playerContainer.append(container);
           }

           $addTeamLink.on('click', function(e){
               e.preventDefault();
               addTeam();
           });


       });
       function shuffleTeamMembers() {
           var all = [];
           $inputs = $('input').filter(function(){return this.id.match(/^teamGameOptions_teams_\d+_players_\d+_name/)});
           $inputs.each(function(){
               all.push($(this).val());
           });
           all.sort(function(){return .5 - Math.random();});
           $inputs.each(function(index){$(this).val(all[index])});
       };

    </script>
{% endblock %}

{% block freeGame %}

<div class="text-left container">
<h1>Týmová hra <small>Předvolby</small></h1>

{{ form_start(form) }}

  {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tags"></i> Kategorie</h3>
        </div>
        <div class="panel-body">
            {% for item in form.allCat %}
                <div class="radio">
                    {{ form_widget(item) }}{{ form_label(item, item.vars.value)}}
                </div>
            {% endfor %}
            <hr />
            <div class="columns">
                {{ form_widget(form.categories) }}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-users"></i> Nastavení týmů</h3>
        </div>
        <div class="panel-body">
            <div class="teams"  data-prototype-player="{{ form_widget(form.teams.vars.prototype.children['players'].vars.prototype)|e }}" data-prototype-team="{{ form_widget(form.teams.vars.prototype)|e }}">
                <div class="row">
                    {{ form_widget(form.teams) }}
                    <div class="col-xs-12">
                        <hr />
                        <a onclick="shuffleTeamMembers()" class="btn btn-default">
                            <span class="fa fa-random"></span> Zamíchat
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-cogs"></i> Další nastavení</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-4">
                    <div>{{ form_label( form.cardsCount ) }} {{ form_widget( form.cardsCount, {'attr' : {'class':'form-control', 'placeholder' : 'Počet karet v balíku'}} ) }}</div>
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(form.createGame, {'attr' : {'class':'btn btn-primary btn-lg'}} ) }}

{{ form_end(form) }}
</div><!--.text-left-->
{% endblock %}
