<div class="card {{ classes|default('')|join(' ') }}">
    <div class="face {{ card.method|default('') }}_{{ card.value|default('') }} ">
        <span class="name" data-hidden-name="!@#$?%&" data-name="{{ card.word_phrase|default('Unknown card') }}">!@#$?%&</span>
        <div class="temp_hide" title="Odhalit text" data-hide-text="Schovat text" data-reveal-text="Odhalit text">
            <i class="fa fa-eye"></i>
        </div>
    </div>
    <div class="back">
        {#Back of {{ card.word_phrase|default('Unknown card') }} {{ card.value|default('') }} {{ card.method|default('') }}#}
    </div>
</div>
