{% if name is not defined %}
    {% set name = 'Bezejmené Počítadlo' %}
{% endif %}
<div class="counter
        {% if color is defined %}
            {{ color }}
        {% endif %}
        ">
        <div class="panel panel-default">
            <div class="panel-body btn-group">
                <div class="btn dec" data-counter="dec">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="btn disabled">
                        <span class="team-name">{{ name }}</span>&nbsp; <strong class="score">{{ value|default('0') }}</strong> × <img alt="zebrik" title="Zebrik" src="{{ imgPath }}/single.png" />
                </div>
                <div class="btn inc" data-counter="inc">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
            {% if players is defined and players|length > 0 %}
                <div class="panel-footer">
                    <ul>
                    {% for player in players %}
                        <li class="player">{{ player.name }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
</div>
