<div class="game d3-perspective">
    <div class="pile deck" title="Deck">
        {% for card in game.deck.cards %}
            {{ include('Elements/card.html.twig', {'card': card, 'classes': ['flipped']}) }}
        {% endfor %}
        &nbsp;
    </div>
    <div class="pile discard" title="Discard">
        &nbsp;
    </div>
</div>