  {% extends 'FreeGame/freeGame.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ cssPath }}/form.css" type="text/css" />
<link rel="stylesheet" href="{{ cssPath }}/elements/counter.css" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ jsPath }}/GameManipulator.js"></script>
    <script type="text/javascript">
       $(document).ready(function(){
            var cats = $('input[name="freeGameOptions[categories][]"]');
            var checkAllCats = function () {
                cats.prop('checked', true);
                cats.parent().parent().parent().parent().hide();
                cats.parent().parent().parent().parent().siblings('hr').hide();
            };            
            checkAllCats();
            var all = $('#freeGameOptions_allCat_0');
            all.change(checkAllCats);
            var choose = $('#freeGameOptions_allCat_1');
            choose.change(function(){
                cats.prop('checked', false);
                cats.parent().parent().parent().parent().show();
                cats.parent().parent().parent().parent().siblings('hr').show();
            });
            
            
            var ok = false;
            $('form[name="freeGameOptions"]').submit(function(event){
               var $form =$("form[name='freeGameOptions']");

               if (!ok ) {
                   event.preventDefault();
               }
               else {
                   return true;
               }
               $(".alert", $form).remove();
               $.ajax({
                   type: 'post',
                   url:  '',
                   data: $(this).serialize()
               }).done(function(data, status){
                   console.log(status);
                   if (!(data instanceof Array)) {ok = true; $form.submit(); return; }
                   for (var i = 0; i < data.length; i++) {
                       data[i] = "<li>"+data[i]+"</li>";
                   }
                   $form.prepend('<div class="alert alert-danger"><ul class="error">'+data.join('')+'</ul></div>');
               });

            });
        });
        
        
    </script>
{% endblock %}

{% block freeGame %}

<div class="container">
<h1>Volná hra <small>Předvolby</small></h1>

{{ form_start(form) }}


  {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tags"></i> Kategorie</h3>
        </div>
        <div class="panel-body">
            {% for item in form.allCat %}
                <div class="radio">
                    {{ form_widget(item) }}{{ form_label(item, item.vars.value)}}
                </div>
            {% endfor %}
            <hr />
            <div class="columns">
                {{ form_widget(form.categories) }}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-cogs"></i> Další nastavení</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-4">
                    <div>{{ form_label( form.cardsCount ) }} {{ form_widget( form.cardsCount, {'attr' : {'class':'form-control', 'placeholder' : 'Počet karet v balíku'}} ) }}</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <div>{{ form_label( form.countersCount ) }} {{ form_widget( form.countersCount, {'attr' : {'class':'form-control', 'placeholder' : 'Počet počítadel'}} ) }}</div>
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(form.createGame, {'attr' : {'class':'btn btn-primary btn-lg'}} ) }}
</div><!--.text-left-->
{{ form_end(form) }}
{% endblock %}