{% extends 'FreeGame/freeGame.html.twig' %}

{% block javascripts %} 
    {{ parent() }}
    <script type="text/javascript" src="{{ jsPath }}/FreeGame.js"></script>
    <script type="text/javascript" src="{{ jsPath }}/Timer.js"></script>
    <script type="text/javascript" src="{{ jsPath }}/GameManipulator.js"></script>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ cssPath }}/freeGame.css" type="text/css" />
    <link rel="stylesheet" href="{{ cssPath }}/game.css" type="text/css" />
    <link rel="stylesheet" href="{{ cssPath }}/elements/counter.css" type="text/css" />
{% endblock%}

{% block freeGame %}

<div id="game" class="container">
    <div>
        {% if game.countersCount > 0 %}
            {% for i in 1..game.countersCount %}
                {{ include('Elements/counter.html.twig', {'name': game.getNames(i-1), 'color': colorPalette.random}) }}
            {% endfor %}
        {% endif %}
    </div>
    {{ include('Elements/game.html.twig', {'game': game}) }}
</div>
    <script type="text/javascript">
        $('.game').game({
            counters: $('.counter'),
            highlightCounters: false
        });
    </script>
{% endblock %}

