@font-face {
    font-family: 'amatic';
    src: url('../../font/Amatic-Bold.ttf');
}

div.pile, div#infiniteCard{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.card {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
    position: relative;
    width: 250px;
    height: 350px;
}
div.card.flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
div.card.flipped div.face {
    display: none;
}

div.card.flip {
    -webkit-animation: flip 2s ease-in 0s 1 alternate forwards;
    -moz-animation: flip 2s ease-in 0s 1 alternate forwards;
    -o-animation: flip 2s ease-in 0s 1 alternate forwards;
    animation: flip 2s ease-in 0s 1 alternate forwards;
}

div.card.back-flip {
    -webkit-animation: back-flip 2s ease-in 0s 1 alternate none;
    -moz-animation: back-flip 2s ease-in 0s 1 alternate none;
    -o-animation: back-flip 2s ease-in 0s 1 alternate none;
    animation: back-flip 2s ease-in 0s 1 alternate none;
}

@-webkit-keyframes flip {
    0% {-webkit-transform: translateZ(0px) rotateY(0deg); -webkit-animation-timing-function: ease-in; }
    50%  {-webkit-transform: translateZ(200px) rotateY(90deg); -webkit-animation-timing-function: ease-out; }
    100%   {-webkit-transform: translateZ(0px) rotateY(180deg);  }
}
@-webkit-keyframes back-flip {
    0%   {-webkit-transform: translateZ(0px) rotateY(180deg);  }
    50%  {-webkit-transform: translateZ(200px) rotateY(90deg); -webkit-animation-timing-function: ease-out; }
    100% {-webkit-transform: translateZ(0px) rotateY(0deg); -webkit-animation-timing-function: ease-in; }
}
@-moz-keyframes flip {
    0% {-moz-transform: translateZ(0px) rotateY(0deg); -moz-animation-timing-function: ease-in; }
    50%  {-moz-transform: translateZ(200px) rotateY(90deg); -moz-animation-timing-function: ease-out; }
    100%   {-moz-transform: translateZ(0px) rotateY(180deg);  }
}
@-moz-keyframes back-flip {
    0%   {-moz-transform: translateZ(0px) rotateY(180deg);  }
    50%  {-moz-transform: translateZ(200px) rotateY(90deg); -moz-animation-timing-function: ease-out; }
    100% {-moz-transform: translateZ(0px) rotateY(0deg); -moz-animation-timing-function: ease-in; }
}
@-o-keyframes flip {
    0% {-o-transform: translateZ(0px) rotateY(0deg); -o-animation-timing-function: ease-in; }
    50%  {-o-transform: translateZ(200px) rotateY(90deg); -o-animation-timing-function: ease-out; }
    100%   {-o-transform: translateZ(0px) rotateY(180deg);  }
}
@-o-keyframes back-flip {
    0%   {-o-transform: translateZ(0px) rotateY(180deg);  }
    50%  {-o-transform: translateZ(200px) rotateY(90deg); -o-animation-timing-function: ease-out; }
    100% {-o-transform: translateZ(0px) rotateY(0deg); -o-animation-timing-function: ease-in; }
}
@keyframes flip {
    0% {transform: translateZ(0px) rotateY(0deg); animation-timing-function: ease-in; }
    50%  {transform: translateZ(200px) rotateY(90deg); animation-timing-function: ease-out; }
    100%   {transform: translateZ(0px) rotateY(180deg);  }
}
@keyframes back-flip {
    0%   {transform: translateZ(0px) rotateY(180deg);  }
    50%  {transform: translateZ(200px) rotateY(90deg); animation-timing-function: ease-out; }
    100% {transform: translateZ(0px) rotateY(0deg); animation-timing-function: ease-in; }
}

div.card.fluid {
    display: inline-block;
}

div.card > div {
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    border-radius: 0.2in;
    width: 100%;
    height: 100%;
    border: 1px solid;
    overflow: hidden;
}

div.card * {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

div.card .name {
    font-family: 'amatic';
    font-size: 2.5em;
    color: #333;
    text-align: center;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
}
div.card.small .name {
    font-size: 1.3em;
    padding-left: 10px;
    padding-right: 10px;
}

div.card .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-image: url('../../img/back.png');
    color: pink;
    border-color: #111;
}

div.card .face {
    z-index: 2;
    border-color: #CCC;
    padding-top: 75%;
}

div.card > div.act_1 {
    background-image: url('../../img/1.png'), url('../../img/act_1.png');
}
div.card > div.act_2 {
    background-image: url('../../img/2.png'), url('../../img/act_1.png');
}
div.card > div.act_3 {
    background-image: url('../../img/3.png'), url('../../img/act_1.png');
}
div.card > div.say_1 {
    background-image: url('../../img/1.png'), url('../../img/say_1.png');
}
div.card > div.say_2 {
    background-image: url('../../img/2.png'), url('../../img/say_1.png');
}
div.card > div.say_3 {
    background-image: url('../../img/3.png'), url('../../img/say_1.png');
}
div.card > div.draw_1 {
    background-image: url('../../img/1.png'), url('../../img/draw_1.png');
}
div.card > div.draw_2 {
    background-image: url('../../img/2.png'), url('../../img/draw_1.png');
}
div.card > div.draw_3 {
    background-image: url('../../img/3.png'), url('../../img/draw_1.png');
}
div.card > div.face {
    background-position: 95% 5%, center;
    background-size: 25%, contain;
}

div.card > div.face > div.temp_hide {
    cursor: pointer;
    font-size: 2em;
    width: 0;
    height: 0;
    border-top: transparent 30px solid;
    border-right: #333 30px solid;
    border-bottom: #333 30px solid;
    border-left: transparent 30px solid;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #eee;
    font-size: 1.5em;
}

div.card > div.face > div.temp_hide:hover {
    border-right: #222 30px solid;
    border-bottom: #222 30px solid;
    color: #fff;
}

/* SIZES */
div.card.tiny {
    width: 83px;
    height: 117px;
}
div.card.tiny > div {
    border-radius: 8px;
}
div.card.small {
    width: 125px;
    height: 175px;
}
div.card.small > div {
    border-radius: 12px;
}

/* The animation code */

div#test{
    width: 300px;
    height: 300px;
    background-color: red;
    transform: rotateZ(100deg);
    /*animation: back-flip 2s ease-in 0s 1 alternate none;*/

    /*animation-name: example;*/
    /*animation-duration: 4s;*/
    /*animation-direction: alternate;*/
    /*animation-delay: 0;*/
    /*animation-iteration-count: infinite;*/

    /*animation: example 4s eases-in 2s alternate;*/
    /*animation: example 5s linears 0s infinite alternate;*/
    animation: example 4s ease-in 0s 1 alternate none running;

}
@keyframes example {
    0% {background-color: red;}
    50% {transform: translateZ(200px) rotateY(90deg); animation-timing-function: ease-out;}
    100% {background-color: yellow;}
}

/* Standard syntax */
@keyframes myfirst {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}