div.counter {
    display: inline-block;
    margin: 0.5em;
}
.inc:hover, .dec:hover{
    cursor: pointer;
}
div.counter div.panel-body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: default;
    padding: 0;
    font-size: 1.2em;
    text-transform: capitalize;
}
div.counter div.panel-footer {
    text-align: left;
    font-size: 0.9em;
    padding: 7px 9px 1px 9px;
}
div.counter div.panel-footer ul {
    padding-left: 0px;
}
div.counter div.panel-footer ul li {
    list-style-type: none;
    text-transform: capitalize;
}
div.counter .panel {
    border: none;
}
div.counter.opaque{
    opacity: 0.6;
}
div.counter:not(.opaque) .panel{
    box-shadow: 0 0 10px #555;
}

div.counter.crimson			> div  { background-color: #dc143c;} div.counter.crimson 		> div > div.panel-body {color: #eee;}
div.counter.goldenRod		> div  { background-color: #daa520;} div.counter.goldenRod 		> div > div.panel-body {color: #eee;}
div.counter.navajoWhite 	> div  { background-color: #ffdead;} div.counter.navajoWhite 	> div > div.panel-body {color: #555;}
div.counter.seaGreen		> div  { background-color: #2e8b57;} div.counter.seaGreen 		> div > div.panel-body {color: #eee;}
div.counter.deepSkyBlue 	> div  { background-color: #00bfff;} div.counter.deepSkyBlue 	> div > div.panel-body {color: #eee;}
div.counter.darkOrchid 		> div  { background-color: #9932cc;} div.counter.darkOrchid 	> div > div.panel-body {color: #eee;}
div.counter.turquoise 		> div  { background-color: #40e0d0;} div.counter.turquoise 		> div > div.panel-body {color: #eee;}
div.counter.darkSlateBlue 	> div  { background-color: #483d8b;} div.counter.darkSlateBlue 	> div > div.panel-body {color: #eee;}


div.counter img {
    height: 15px;
}
div.counter .btn {
    background-color: transparent;
}
div.counter .btn:hover {
    color: inherit;
}
div.counter .disabled{
    opacity: 1;
}
