div.hourglass-mainframe{
    display: inline-block;
    position: absolute;
    margin: 40px;
}
div.hourglass-mainframe div.hourglass {
    width: 100.6px; /*151*/
    height: 246.6px; /*370*/
    position: relative;
    z-index: 2;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
}


div.hourglass-mainframe div.hourglass > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

div.hourglass-mainframe div.hourglass > div.lower {
    background-color: sandybrown;
    top: 50%;
    height: 0;
    background-position: 100% 100%;
}

div.hourglass-mainframe div.hourglass > div.upper {
    background-color: burlywood;
    height: 50%;
}
div.hourglass-mainframe div.hourglass > div.frame {
    background-image: url('../../img/black.png');
    background-repeat: no-repeat;
    height: 100%;
}

/*div.hourglass-mainframe > div.controls {
    border: 1px solid #CCC;
    margin: auto;
    padding: 0.3em;
    border-radius: 0.2em;
    background-color: rgba(0,0,0,0.1);
}*/
div.hourglass-mainframe > div.controls {
    margin-top: 5px
}
div.hourglass-mainframe > div.controls > a {
    font-size: 0.7em;
    padding: 3px 7px
}

div.hourglass-mainframe div.hourglass > div.falling-sand {
    top: 50%;
    height: 0;
    width: 3%;
    left: 48.5%;
}

div.hourglass-mainframe div.hourglass div.sand {
    background-image: url('../../img/hoursand.png');
    background-repeat: repeat;
    background-size: 50px;
}

div.hourglass.justFinished {
    -webkit-transition: 2s;
    -webkit-transform: rotateZ(360deg);
    -o-transition: 2s;
    -o-transform: rotateZ(360deg);
    -moz-transition: 2s;
    -moz-transform: rotateZ(360deg);
    transition: 2s;
    transform: rotateZ(360deg);
}
div.hourglass-mainframe .aid {
    position: absolute;
    z-index: 10;
    top: 89px;
    left: 20px;
    color: #fff;
    text-shadow: 0 0 10px #999;
}
div.hourglass-mainframe .aid.fa-play {
    left: 24px;
}