.columns {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	margin: auto;
	text-align: left;
}
@media(max-width:767px){ .columns{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
} }
@media(min-width:992px){ .columns{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
} }

div.checkbox label, div.radio label {
    text-transform: capitalize;
}
.columns div.checkbox > span {
    opacity: 0.4;
}
.teams .row div.col-xs-12 > a {
    margin-right: 5px;
}
/* ERR */
ul.error{
	list-style-type: none;
	padding: 0;
}
/*teams*/
#teamGameOptions_teams .form-group {
    margin-bottom: 0;
}
#teamGameOptions_teams .panel-heading {
    position: relative;
}
#teamGameOptions_teams i.delete {
    position: absolute;
    top: -8px;
    right: -7px;
    font-size: 18px;
    display: none;
    cursor:pointer;
}
#teamGameOptions_teams .panel-body > div {
    position: relative;
}