div.deck, div.discard {
    margin: 0 25px;
}


/* CARD FLIPS */

div.card.LRflipping {
    -webkit-animation: LRFlip ease-in-out 2s 1 normal forwards;
    -moz-animation: LRFlip ease-in-out 2s 1 normal forwards;
    -o-animation: LRFlip ease-in-out 2s 1 normal forwards;
    animation: LRFlip ease-in-out 2s 1 normal forwards;
    z-index: 100;
}
@-webkit-keyframes LRFlip
{
    from {left: 0px;   -webkit-transform: rotateY(180deg);     }
    to   {left: 304px; -webkit-transform: rotateY(360deg);  } /*left: 256+50-2px (card+margin-fromalBorder)*/
}
@-moz-keyframes LRFlip
{
    from {left: 0px;   -moz-transform: rotateY(180deg);     }
    to   {left: 304px; -moz-transform: rotateY(360deg);  } /*left: 256+50-2px (card+margin-fromalBorder)*/
}
@-o-keyframes LRFlip
{
    from {left: 0px;   -o-transform: rotateY(180deg);     }
    to   {left: 304px; -o-transform: rotateY(360deg);  } /*left: 256+50-2px (card+margin-fromalBorder)*/
}
@keyframes LRFlip
{
    from {left: 0px;   transform: rotateY(180deg);     }
    to   {left: 304px; transform: rotateY(360deg);  } /*left: 256+50-2px (card+margin-fromalBorder)*/
}

div.card.RLflipping {
    -webkit-animation: RLFlip ease-in-out 2s 1 normal forwards;
    -moz-animation: RLFlip ease-in-out 2s 1 normal forwards;
    -o-animation: RLFlip ease-in-out 2s 1 normal forwards;
    animation: RLFlip ease-in-out 2s 1 normal forwards;
    z-index: 100;
}
@-webkit-keyframes RLFlip
{
    from {left: 0px;   -webkit-transform: rotateY(360deg);     }
    to   {left: -304px; -webkit-transform: rotateY(180deg);  }
}
@-moz-keyframes RLFlip
{
    from {left: 0px;   -moz-transform: rotateY(360deg);     }
    to   {left: -304px; -moz-transform: rotateY(180deg);  }
}
@-o-keyframes RLFlip
{
    from {left: 0px;   -o-transform: rotateY(360deg);     }
    to   {left: -304px; -o-transform: rotateY(180deg);  }
}
@keyframes RLFlip
{
    from {left: 0px;   transform: rotateY(360deg);     }
    to   {left: -304px; transform: rotateY(180deg);  }
}
