div.game {
    text-align: center;
}

div.game .pile {
    display: inline-block;
    width: auto;
    position: relative;
    width: 250px;
    height: 350px;
}

div.game .pile > div {
    position: absolute;
    top: 0;
    left: 0;
}
.bellow-decks{
    width: 550px;
    margin: auto;
}
#endturn {
    margin-top: 30px;
    font-size: 18px;
    width: 100%;
}
#resultModal strong{
    font-size: 26px
}