h1 {
    border-bottom: 1px solid #ccc;
}
.jumbotron h1{
    border-bottom: none;
}
h2 {
    border-bottom: dashed 1px #ccc;
}
li img {
    width: 50px;
}
table {
    background-color: #efefef;
    text-transform: capitalize;
}
table th {
    font-size: 1.5em;
}