div#infiniteCard{
	vertical-align: middle;
}

div.card{
	margin: auto;
}
div.card, div.hourglass-mainframe{
	display: inline-block;
}

div.card .face:last-child {    
    -webkit-transform: rotateY(180deg);
}

/*DYNAMICS*/
@media (max-width: 500px) {
    div#infiniteCard > div.hourglass-mainframe{
		display: block;
		width: 101px;
		position: relative;
		bottom: 0;
		top: 20px;
		left: 0;
	}
}