@import url("general.css");
@font-face {
    font-family: 'aller';
    src: url('../font/titan-one/TitanOne-Regular.ttf');
}

div.main{
    padding-bottom: 35px;
}
div.main .container:first-child{
    padding-top: 15px;
}
div.main .container#game, div.main .container#infiniteCard {
    padding-top: 70px;
}
div.main .container#teamGame {
    padding-top: 20px;
}
nav.navbar {
    margin-bottom: 0;
}
nav.navbar .version span {
    line-height: 46px;
    font-size: 20px;
}

a.navbar-brand{
    width: 60px;
    background-image: url('../img/logo.png');
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: center;
}
body{
    background-image: url('../img/pattern.png');
}

.jumbotron{
    background-color: rgba(0,0,0,0.05);
}

.d3-perspective {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 120px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 120px;
    background-color: #222;
}
.footer img{
    width: 120px;
}

@media screen and (max-width: 560px) {
    body {
        margin-bottom: 150px;
    }
    .footer {
        height: 150px;
    }
}
@media screen and (max-width: 360px) {
    body {
        margin-bottom: 200px;
    }
    .footer {
        height: 200px;
    }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer .container {
    padding: 25px 15px 15px 115px;
    color: #666;
    background-image: url('../img/silex.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center left;
}
.footer .container a {
    color: #999;
    font-weight: bold;
}
.footer .container a:hover {
    text-decoration: none;
}
