{% extends 'layout.html.twig' %}

{% block section %}
    <div class="text-left">
    <h1>Přehlídka karet</h1>
    <div class="panel panel-default">
        <table class="table table-bordered table-striped table-condensed table-curved">
            <tr>
                <th>Slovo</th>
                <th class="text-center"><i class="fa fa-comment-o"></i></th>
                <th class="text-center"><i class="fa fa-pencil"></i></th>
                <th class="text-center"><i class="fa fa-child"></i></th>
                <th>Kategorie</th>
            </tr>
            {% for card in cards %}
            <tr>
                <td>{{ card.word_phrase }}</td>
                <td class="text-center">{% if card.methods.say is defined %}{{ card.methods.say }}{% else %}N/A{% endif %}</td>
                <td class="text-center">{% if card.methods.draw is defined %}{{ card.methods.draw }}{% else %}N/A{% endif %}</td>
                <td class="text-center">{% if card.methods.act is defined %}{{ card.methods.act }}{% else %}N/A{% endif %}</td>

                <td>
                    {% for cat in card.categories %}
                        <span class="label label-default">{{ cat }}</span>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
{% endblock %}
