{% extends "layout.html.twig" %}
{% block section %}

<div class="text-justify">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img alt="zebroviny logo" class="img-rounded img-responsive" title="Zebroviny" src="{{ imgPath }}/zebra.png" />
                </div>
                <div class="col-sm-8">
                    <h1>Zebroviny</h1>
                    <p>Zebroviny jsou <strong>zábavná společenská týmová stolní hra</strong> pro tři a více hráčů, všestranně rozvíjející jejich <strong>vyjadřovací schopnosti</strong>. Hra je založena na principu <strong>němohry</strong>, <strong>verbální deskripce</strong> a <strong>kresby</strong>. Hráči využívají zmíněných prostředků k popisu <strong>frází</strong> na kartách.</p>
                    <p><a class="btn btn-primary btn-lg" href="{{ path('games_team_game') }}" role="button">Hrát!</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Typy hry</h1>
            <div>
                <h3>Volná hra</h3>
                <p>Volná hra umožnuje plnou možnost individuální úpravy herního balíku i přidání počítadel, zebříky si však hodnotí hráči sami.</p>
                <a href="{{ path('games_free_game') }}">Hrát volnou hru</a>
            </div>
            <div>
                <h3>Týmová hra</h3>
                <p>Týmová hra je úplný typ hry, jeho průběh je podrobně popsán v pravidlech.</p>
                <a href="{{ path('games_team_game') }}">Hrát týmovou hru</a>
            </div>

        <h1>Pravidla</h1>
        <h2>Příprava hry</h2>
        Před hrou si hráči připraví psací potřeby, dostatek prázdných listů papíru a volné prostranství, na kterém se může jenden člověk pohodlně pohybovat před zraky všech. Hráči se domluví a navolí si nastavení balíku, které jim nejvíce vyhovuje. To zahrnuje výběr kategorií slov i počet karet.
        Hráči utvoří týmy. Pokud se nemohou dohnodnout, kdo s kým bude hrát, mohou využít funkci náhodného promíchání hráčů. Týmy nemusí mít nutně vyrovnaný počet hráčů, ale je to silně doporučeno, neboť hráči v početnějším týmu se pak dostanou na řadu méně často, než z týmů menších. Nyní je hra připravena a může se začít hrát.
        <h2>Průběh hry</h2>
        Hra probíhá v kolech. Každé kolo, hraje hráč z dalšího týmu a hráči v týmu se střídají. Obě tato pořadí jsou neměnná a jsou zvolena automaticky.
            <h3>Průběh kola</h3>
            <ol>
                <li>Hráč který je na řadě, se zmocní obrazovky (aby jí ostatní hráči neviděli) a odkryje kartu. Otočená karta skýtá následující tři důležité informace.</li>
                <ol>
                    <li>
                        Obrázek, který závazně určuje metodu komunikace, kterou musí hráč v kole výhradně používat.
                        <ol>
                            <li>Mluvící zelená koule <img src="{{ imgPath }}/say_ico.png" alt="Mluvící zelená koule"> značí verbální komunikaci,</li>
                            <li>Žlutá tužka <img src="{{ imgPath }}/draw_ico.png" alt="Žlutá tužka"> značí kresbu a </li>
                            <li>Tancující fialový figurant <img src="{{ imgPath }}/act_ico.png" alt="Tancující fialový figurant"> symbolizuje němohru.</li>
                        </ol>
                    </li>
                    <li>Počet zebříků <img src="{{ imgPath }}/single.png" alt="Zebřík">, který udává odhadovanou obtížnost karty. Zebříky jsou herní měna. Pokud tým, který je na řadě kolo vyhraje, získá daný počet zebříků (1-3).
                    <li>Fráze, která je předmětem komunikace. Tuto frázi se bude hráč, který je na řadě, snažit předat svým spoluhráčům.
                </ol>
                <li>Tyto informace si daný hráč pečlivě prostuduje. Pokud nastane případ, že hráč něčemu nerozumí, například si není jist pravidly nebo nezná význam slova, prodiskutuje tento problém s dalším hráčem. Pokud by se tímto stalo kolo nepsravedlivé, může se konzultant kola zdržet, nebo se můžete rozhodnout pro nahradní kolo přeskočením na další kartu.</li>
                <li>V případě že nenastane žádný problém, hráč frázi skryje (<i class="fa fa-eye-slash"></i>) a nemusí již ostatním hráčům zabraňovat v pohledu na hru. Může si nechat pár vteřin na rozmyšlenou (dle dohody) a poté se pustí do komunikace se startem časovače. Pokud vám délka časovače nevyhovuje, můžete si jí změnit v jeho nastavení (<i class="fa fa-clock-o"></i>).</li>
                <li>Hráč se v tomto omezeném čase snaží danou metodou komunikace (podrobná pravdila vizte níže) co nejlépe přiblížit svým spoluhráčům vylosovanou frázi. Výjimkou jsou hry, kde je v aktuálním týmu právě jeden hráč. Tehdy popisuje slovo všem ostatním hráčům, to je typicky případ hry s třemi hráči.</li>
                <li>Pokud se hráčům podaří frázi uhádnout (vyřknou ji) dříve, než zazní konec časovače, daný tým vyhrává kolo. V obou případech zpravíte hru o výsledku prostřednictvým dialogového okna	</li>
                <li>Pokud jste nebyly s kartou spokojeni, můžete k tomu využít její komentář.</li>
                <li>Zde končí kolo a pokračuje další hráč dalšího týmu.</li>
                <li>V momentě, kdy se dohraje poslední otočená karta, nebo se hráči dohodnou, tak hra končí a vítězí ten tým, který zístal nejvíce zebříků.</li>
            </ol>

        <h2>Pravidla komunikace</h2>
        <p>Při každé komunikaci je zakázáno se odvolávat na osobní společné zážitky, na kterých nemuseli všichni hráči nutně být, čímž by neměli tito hráči nejmenší šanci úspěchu. Například verbální popis "Pamatuješ jak jsme byli minulou sobotu v kině? Tak podobně se jmenoval ten film..." není platný, protože si hráč nevystačí s obecně známými fakty a tratí na své potenciální neúčasti návševy kina.</p>
        <p>Někdy bývá zvykem, že hráči začínají komunikaci informací o počtu slov ve frázi nebo i slovních druzích. Před hrou se musí všichni hráči domluvit, jestli jim tento přístup vyhovuje a tím se celou hru řídít. Vhodnou metodu sdělení těchto informací si může každý tým zvolit vlastní.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <img src="{{ imgPath }}/act_ico.png" alt="Němohra">
                    <h3>Němohra</h3>
                </div>
                <p>Hráči využívají pohybů svého těla a výrazů obličeje, mohou se volně pohybovat po dostupném prosotru, ale nikterak znemožňovat viditelnost hádavšivších hráčů. Není povoleno využívat hlasového projevu a to ani například chrčení či broukání. Neovladatelné kýchnutí, či zakašlání není přirozeně porušením pravidel. Hráč může vydávat ostatní zvuky, je-li toho schopen (jako je napřklad lusknutí, tlesknutí či dupnutí). Není doporučeno, aby hráč využíval předměty nebo ostatní hráče v místnosti, záleží to však na dohodě.</p>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <img src="{{ imgPath }}/say_ico.png" alt="Verbální komunikace">
                    <h3>Verbální komunikace</h3>
                </div>
                <p>Hráč používá standardního mluveného projevu včetně přiměřené gestikulace. Může používat libovolnou slovní zásobu, ale nesmí vyřknout slovo se stejným kořenem, jako má některé slovo z dané fráze. Může užívat rýmů, <abbr title="Slova podobného významu">synonym</abbr>, <abbr title="Slova opačného významu">antomym</abbr> a dalších prostředků, ale ne <abbr title="Slova stejně znějící">homonym</abbr> a to ani když tato slova mají různý kořen (neboť by přímo prozradil fonetickou podobu slova).</p>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <img src="{{ imgPath }}/draw_ico.png" alt="Kresba">
                    <h3>Kresba</h3>
                </div>
                <p>Hráč využívá kreslení a skiců na papíře. Nesmí při tom užívat symbolů žádného známého <a href="http://cs.wikipedia.org/wiki/Form%C3%A1ln%C3%AD_jazyk">formálního jazyka</a>, tedy ani číslic. Může užívat i šipek a zvýraznění, aby směřoval pozornost k již hotovým částem obrázku. Může přiměřeně reagovat na projevy cílových hráčů kresbou i gestem, ale měl by pamatovat na to, že jeho primárním prostředkem je kreslení a vyhnout se zběsilým gestům a naléhavému ukazování na ostatní hráče.</p>
            </div>
        </div>
        <p>Vyřknutý pokus o uhádnutí se musí plně shodovat (ve slovech, rodech, číslech a pořadí slov) až na možnou diverzi v ohýbané koncovce slov fráze, aby byl uznán. Například, pokud je hádaná fráze ‘slunný den’ a jeden z cílových hráčů v chrlení nápadů řekne “(...)nějakej slunnej den, nebo něco(...)”, uhádnutí by mělo být korektní. Doporučujeme si pravidla před hrou ujasnit a popřípadě se dohodnout, jak moc striktní uhádnutí je požadováno.</p>

        <h1>Tipy</h1>
        <ul>
            <li>Časomíru můžete spustit respektive pozastavit kliknutím přímo na hodiny.</li>
            <li>Na všech počítadlech můžete řídit body sami ovládacími prvky, a to i v týmové hře.</li>
            <li>Týmy můžete při vytváření týmové hry zamíchat (<span class="fa fa-random"></span>), kldině i několikrát za sebou. Jen je před mícháním potřeba vytvořit požadovaný počet týmů a hráčů a v libovolném pořadí do týmů hráče vepsat.</li>
            <li>Pokud nejste s kartou spokojeni, budeme rádi, když ji okomentujete, pomůžete nám tak odhalit špatně navrhnuté karty.</li>
            <li>Frázi na kartě můžete schovat, aby se nezobrazovala, respektive odkrýt kliknutím na tmavý roh karty (<i class="fa fa-eye-slash"></i>, respektive <i class="fa fa-eye"></i>).</li>
            <li>Pokud uhádnete slovo dříve a nechcete se nechat zdržovat rozběhlou časomírou, ukončete jí čtverečkem.</li>
            <li>Pokud vám zde něco chybí, narazíte na nějakou chybu, máte nějaký dobrý nápad na vylepšení nebo nám chcete pomoct například s rozšiřováním množiny karet, ozvěte se nám.</li>
        </ul>
    </div>
</div>
{% endblock %}