<!DOCTYPE html>
<html>
    <head>
        <title>{% block page_title %}Zebroviny{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        {% set cssPath = app.request.basepath ~ '/web/css' %}
        {% set jsPath = app.request.basepath ~ '/web/js' %}
        {% set soundPath = app.request.basepath ~ '/web/sound' %}
        {% set libPath = app.request.basepath ~ '/lib' %}
        {% set imgPath = app.request.basepath ~ '/web/img' %}
        <link rel="icon" href="{{ imgPath }}/favicon.ico" />
        {% block stylesheets %}
            <!-- Font Awsome -->
            <link rel="stylesheet" href="{{ libPath }}/font-awesome/css/font-awesome.min.css" type="text/css" />
            <!-- Bootstrap -->
            <link rel="stylesheet" href="{{ libPath }}/bootstrap/css/bootstrap.min.css" type="text/css" />
            <!-- Custom -->
            <link rel="stylesheet" href="{{ cssPath }}/layout.css" type="text/css" />
            <link rel="stylesheet" href="{{ cssPath }}/elements/Card.css" type="text/css" />
            <link rel="stylesheet" href="{{ cssPath }}/elements/hourglass.css" type="text/css" />
        {% endblock %}
        {% block javascripts %}
        <!-- jQuery -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <!-- Bootstrap -->
        <script type="text/javascript"  src="{{ libPath }}/bootstrap/js/bootstrap.js"></script>
        <!-- Custom -->
        <script type="text/javascript" src="{{ jsPath }}/Card.js"></script>
        <script type="text/javascript">
            var path = "{{ app.request.basepath ~ '/' }}";
        </script>            
        {% endblock %}
        
    </head>
    <body>
        {% block body %}
            <nav class="navbar navbar-default navbar-static-top navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand"  href="{{ path('home')}}"></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            {% set route =  app.request.attributes.get('_route') %}
                            <li class="{% if route == 'home' %}active{% endif %}"><a href="{{ path('home')}}">O Zeborvinách</a></li>
                            {#<li class="{% if route == 'games_infinite_card' %}active{% endif %}"><a href="{{ path('games_infinite_card')}}">Nekonečná karta</a></li>#}
                            <li class="{% if (route == 'games_free_game' or route == 'games_free_game_play') %}active{% endif %}"><a href="{{ path('games_free_game') }}">Volná hra</a></li>
                            <li class="{% if (route == 'games_team_game' or route == 'games_team_game_play') %}active{% endif %}"><a href="{{ path('games_team_game') }}">Týmová hra</a></li>
                            {# <li class="{% if route == 'browse_cards' %}active{% endif %}"><a href="{{ path('browse_cards') }}">Přehlídka karet</a></li> #}
                        </ul>
                        <div class="nav navbar-nav navbar-right version">
                            <span class="label label-success"><i class="fa fa-cubes"></i> Open Beta</span>
                        </div>
                    </div><!--.nav-collapse-->
                </div>
            </nav>
            <div class="main">
                {% block section %}
                {% endblock %}
            </div>
            <footer class="footer">
                <div class="container">
                    <p>
                        Jiří Šmolík, Jaroslav Šmolík<br/>
                        &copy; 2014 - {{ "now"|date("Y") }} <a href="mailto:zebroviny@antland.cz">AntLand</a>
                    </p>
                    <p>
                        Powered by <a href="http://en.wikipedia.org/wiki/Love"><i title="Love" class="fa fa-heart"></i></a>, <a href="http://silex.sensiolabs.org/">Silex</a>, <a href="http://jquery.com/">jQuery</a>, <a href="http://getbootstrap.com/">Bootstrap</a> and <a href="http://fortawesome.github.io/Font-Awesome/">FontAwsome</a>
                    </p>
                </div>
            </footer>
        {% endblock %}

    </body>
</html>
