{% extends 'layout.html.twig' %}

{% block stylesheets %}
   {{ parent() }}
   <link rel="stylesheet" href="{{ cssPath }}/infiniteCard.css" type="text/css" />
{% endblock %}
   
{% block javascripts %}
   {{ parent() }}
   <script type="text/javascript" src="{{ jsPath }}/Timer.js"></script>
   <script type="text/javascript" src="{{ jsPath }}/FlippingCard.js"></script>
   <script type="text/javascript" >
    $(document).ready(function(){
     var timer = new Timer(document.getElementById('infiniteCard'));
    });
   </script>
{% endblock %}

{% block section %}

    <div id="infiniteCard" class="d3-perspective container text-center">
        {{ include('InfiniteCard/flippingCard.html.twig', {'card': card}) }}
    </div>
    
{% endblock %}
